/* Estilos globales */
ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-grid {
  height: auto;
  min-height: 100%;
}

ion-row {
  margin-bottom: 16px;
}

ion-card {
  margin: 0 0 16px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-card-header {
  background-color: #f4f4f4;
}


ion-card-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

ion-card-content {
  padding: 16px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-button {
  margin-top: 16px;
}

ion-img {
  width: 100%;
  height: auto;
  margin-top: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilos específicos para móvil */
@media (max-width: 768px) {
  ion-card-title {
    font-size: 1em;
  }

  ion-content {
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
  }

  ion-button {
    font-size: 0.9em;
  }
}

/* Estilos para el menú desplegable */
ion-menu {
  --width: 250px;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

/* Ajustes para asegurar que el contenido sea scrollable */
.ion-page {
  overflow-y: auto;
}

ion-content {
  --overflow: auto;
}

/* Ajuste para dispositivos muy pequeños */
@media (max-width: 360px) {
  ion-card-content {
    padding: 12px;
  }

  ion-button {
    font-size: 0.8em;
  }
}
